.topContainer {
    display: grid;
    justify-content: center;
    height: fit-content; 
    padding-top: 2%;
    align-items: stretch;
}

.about-image {
    height: auto;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.image {
    height: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    text-align: center;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0.5, 0.7, 0.2, 1.2;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.projectContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.impact {
    text-align: center;
}

.impactDesc {
    text-align: center;
}

.impactContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
    height: auto;
    background-color: white;
}

.projectsContainer {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.project {
    text-align:center;
    display: grid;
    grid-template-rows: auto auto auto;
}

.projectImg {
    width: 80%;
    height: 100%;
    position: relative;
    object-fit: contain;
}

.content {
    font-size: 14px;
    height: fit-content;
}

.topContainer {
    grid-template-rows: auto auto;
}

@media screen and (min-aspect-ratio: 12/9) {
    .topContainer {
        display: grid;
        grid-template-columns: 33% 67%;
    }
}

@media screen and (max-aspect-ratio: 12/9){
    .topContainer {
        display: grid;
        grid-template-rows: auto auto;
    }
}