.topContainer {
    display: grid;
    justify-content: center;
    height: fit-content; 
    padding-top: 2%;
    align-items: stretch;
}

.about-image {
    height: auto;
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.image {
    height: 100%;
    vertical-align: middle;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.description {
    text-align: center;
    width: 80%;
    margin-left: 5%;
    box-shadow: 0.5, 0.7, 0.2, 1.2;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.committeeContainer {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.person {
    text-align:center;
}

.personImg {
    width: 80%;
    padding: 10%;
    position: relative;
}

.content {
    font-size: 14px;
    height: fit-content;
}

.topContainer {
    grid-template-rows: auto auto;
}

@media screen and (min-aspect-ratio: 12/9) {
    .topContainer {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

@media screen and (max-aspect-ratio: 12/9){
    .topContainer {
        display: grid;
        grid-template-rows: auto auto;
    }
}