:root {
    --headerHeight: "20px";
}

body {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin: 0;
}

.bodyDiv {
    width: 100vw;
    display: grid;
    grid-template-rows: 100% 50%;;
    height: 100vh;
}

.contentDiv {
    background: linear-gradient(to bottom, #0b2600 40%, #ffcf6d 40%);
    height: fit-content;
}