:root {
    --headerHeight: "20px";
}

body {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin: 0;
}

.bodyDiv {
    width: 100vw;
    display: grid;
    grid-template-rows: 100% 50%;;
    height: 100vh;
}

.landingDiv {
    border: 1px solid red;
    width: 100vw;
    height: calc(100vh-var(--headerHeight));
    background-image: url("/static/images/landing.jpg");
    background-attachment: fixed;
    background-size: 100% 140%;
    background-position: 0% 80%;
}

.logo{
    margin-left: auto;
    position: relative;
    top: 40%;
    transform: translateY("-50%");
    left: 20%;
    width: 60%;
    margin-right: auto;
}