.yellow {
   color: #ffcf6d;
}

.yellowHover:hover {
    color: #cca64c;
}

.yellowbg {
    background-color: #ffcf6d;
}

.green {
    color: #0b2600;
}

.greenbg {
    background-color: #0b2600;
}

.rust {
    color: #c65200;
}
.darkrust {
    color: #963200
}
.rustbg {
    background-color: #c65200;
}

body {
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

.weight400 {
    font-weight: 400;
}

.weight300 {
    font-weight: 300;
}

.font40 {
    font-size: 40px;
}
.font28 {
    font-size: 28px;
}

.font24 {
    font-size: 24px;
}

.font20 {
    font-size: 20px;
}

.font16 {
    font-size: 16px;
}

.font14 {
    font-size: 14px;
}